  body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
  }
  .tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
  .tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
  .tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
  .tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
  .tclose:hover {background-position:0 -30px}
  .dg .cr.function .property-name {width: 100%;}
  #description {padding: 5px; position: absolute; top: 5px; left: 5px; background-color: #ddd}
  #description p {margin: 0px;}